<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head th:replace="/templates/shop.html::head">
  <title>The IT Shop | Fotos</title>
</head>

<body>
  <header th:replace="/templates/shop.html::main-header">
  </header>
  <main>
    <div id="product-heading">
      <h1 class="heading">Subir Fotos Producto</h1>
    </div>
    <div class="container" id="products-table" style="overflow-y:auto;">
      <form id="upload" action="/admin/photos-upload" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <label for="photo">Foto</label>
          <input class="form-control" id="photo" type="file" name="photo" multiple required>
        </div>
        <button type="submit" class="btn btn-info">Subir foto</button>
        <button th:if="${isCreating}" id="toCreate" type="submit" class="btn btn-success" form="continueCreate"
          disabled>Crear
          producto</button>
        <button th:if="${!isCreating}" id="toCreate" type="submit" class="btn btn-success" form="continueEdit"
          disabled>Editar
          producto</button>
        <button type="submit" class="btn btn-danger" form="cancel">Cancelar</button>
      </form>
      <form th:if="${isCreating}" action="/admin/create-product" id="continueCreate" method="POST"></form>

      <form th:if="${!isCreating}" th:action="'/admin/update-product/'+${productId}" id="continueEdit" method="POST">
      </form>
      <form action="/admin" id="cancel"></form>
      <hr />
      <table id="photosTable" class="table table-bordered table-hover">
        <thead class="bg-info">
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Tipo</th>
            <th scope="col">Acción</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="photo, status : ${photos}">
            <td th:text="${photo.name}">Nombre Foto</td>
            <td th:text="${photo.mimeType}">PNG</td>
            <td>
              <a th:text="Visualizar" th:href="'/admin/photos/visualize/'+${status.index}" class="btn btn-success"></a>
              |
              <a th:text="Eliminar" th:href="'/admin/photos/delete/'+${status.index}" class="btn btn-danger"></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </main>

  <footer th:replace="/templates/shop.html::footer"></footer>
  <script src="https://kit.fontawesome.com/156ff56ddf.js" crossorigin="anonymous"></script>
  <script src=" https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
  <script>
    let rows = document.getElementById("photosTable").rows.length;
    let btn = document.getElementById("toCreate");
    console.log("Fotos: " + rows);

    if (rows > 1) {
      toCreate.disabled = false;
    } else {
      toCreate.disabled = true;
    }
  </script>
</body>

</html>