<!DOCTYPE html>
<html lang="en">

<head th:replace="/templates/shop.html::head">
  <title>The IT Shop | Visualizar fotos</title>
</head>

<body>
  <header th:replace="/templates/shop.html::main-header">
  </header>
</body>
<main>
  <div class="container">
    <div id="product-heading">
      <h1 class="heading" th:text="'Datos de la foto: '+${photo.name}">Subir Fotos Producto</h1>
    </div>
    <div class="card">
      <img th:src="@{'data:'+${photo.mimeType}+';base64,'+${photo.base64}}" class="card-img-top" alt="Foto enviada">
      <div class="card-body">
        <h5 class="card-title" th:text="${photo.name}">Card title</h5>
        <p class="card-text" th:text="'Foto del tipo: '+ ${photo.mimeType}"></p>
      </div>
    </div>
  </div>
</main>

</html>